body{
    background-image: url(../images/1500x500.jpg);
    background-repeat:repeat-y;
    background-position:center;
    background-size:cover ;
    color: peru;
}

.titulo{
    font-size: 150px;
    font-family: impact;
    text-align: center;
    font-weight: 100;
    margin: 10px;
}

.resumen{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}
.fot1{
    height: 25%; width: 25%;
    border: 10px;
    border-color: white;
    border-style: solid;
    margin: 25px;
}
.fot2{
    height: 25%; width: 25%;
    border: 10px;
    border-color: white;
    border-style: solid;
    margin-right: 25px;
    margin-left: 25px;
}
.text1 h2{
    color: rgb(152, 186, 112);
}
.text1{
    border: 15px;
    border-color: whitesmoke;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    color: rgb(202, 224, 117);
    font-size: 25px;
}

.ll{
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 80%;  
 
}

.l1{
    border: 5px;
    border-style: solid;
    border-radius: 55px;
    border-width: 12px;
    padding: 10px;
    font-size: 25px;
    font-family: Impact;
    font-weight: 100;
    background-color: burlywood;
    text-align: center;
    overflow: hidden;
}
a{
    color: rgba(0, 0, 0, 0.788);
    text-decoration: none;
}

.text2{
    border: 15px;
    border-color: whitesmoke;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    color: rgb(202, 224, 117);
    font-size: 25px;
}
.text3{
    border: 15px;
    border-color: whitesmoke;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    color: rgb(202, 224, 117);
    font-size: 25px;
}