body{
    background-image: url(../images/ULTRAKILL\ .png);
    background-repeat:no-repeat;
    background-position:bottom;
    background-size:2000px ;
    color: rgb(175, 0, 0);
    background-attachment: fixed;
}

.titulo{
    font-size: 150px;
    font-family: impact;
    text-align: center;
    font-weight: 100;
    margin: 10px;
}

.ll{
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 80%;  
 
}

.l1{
    border: 5px;
    border-style: dashed;
    border-width: 12px;
    padding: 10px;
    font-size: 25px;
    font-family: Impact;
    font-weight: 100;
    text-align: center;
    overflow: hidden;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
